html, body {
   font-size: 14px;
}

p {
   font-size: 14px;
   line-height: 150%;
}

.underline-none {
   text-decoration: none;
   color: #303036;
}

.text-red {
  color: #e4002b;
}

/*========================tables start====================*/
.forum-table {
   border: 1px solid #d0d2d3;
}

.forum-table th {
   background-color: #3a4958;
   color: #fff;
}

.forum-table tr:nth-child(even) {
   background-color: #e2e2e2;
}

.forum-table td a {
   text-decoration: none;
   display: block;
   color: #222;
   width: 100%;
   height: 100%;
}

.forum-table td a:hover {
   color: #005696;
}

.forum-table td .forum-buttons a.btn {
   text-decoration: none;
   display: inline;
   color: #fff;
   border-radius: 0;
   padding: 5px 10px;
}

/*========================tables end =====================*/

.img-fluid {
   width: 80%;
   max-width: 500px;
   display: block;
   margin: 15px auto;
   border-radius: 16px;
   box-shadow: 2px 2px 2px #c7c7c7;
}

.hide {
   display: none;
}

.author-photo {
   width: 250px;
   margin: 0 30px 30px 0;
}

.float-left {
   float: left!important;
}
.rounded {
   border-radius: .25rem!important;
}
.img-thumbnail {
   padding: .25rem;
   background-color: #fff;
   border: 1px solid #dee2e6;
   border-radius: .25rem;
   max-width: 100%;
   height: auto;
}

.mt-5 {
   margin-top: 50px;
}

.mt-4 {
   margin-top: 40px;
}
.mt-3 {
   margin-top: 30px;
}
.mt-2 {
   margin-top: 20px;
}
.thumb-wrap {
   position: relative;
   padding-bottom: 56.25%; /* Ð·Ð°Ð´Ð°Ñ‘Ñ‚ Ð²Ñ‹ÑÐ¾Ñ‚Ñƒ ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€Ð° Ð´Ð»Ñ 16:9 (ÐµÑÐ»Ð¸ 4:3 â€” Ð¿Ð¾ÑÑ‚Ð°Ð²ÑŒÑ‚Ðµ 75%) */
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}
.thumb-wrap iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.send-dz {
   padding: 20px;
   background: #f0f4f8;
   border: 1px solid #c0c0c0;

   margin-bottom: 30px;
   border-radius: 0;
}

a.no-decoration {
   text-decoration: none;
}
a.no-decoration:hover {
   text-decoration: underline;
}

.blue-line {
   height: 5px;
   background: #2c7ae7;
   display: none;
}

.bg-courses-image {

}

.bg-image-js {
    background: url('/img/courses/js.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding: 20%;
    margin-bottom: 30px;
}

.bg-image-js2 {
   background: url('/img/courses/js2.jpg');
   background-size: cover;
   background-position: 50% 50%;
   padding: 20%;
   margin-bottom: 30px;
}

.bg-image-react {
    background: url('/img/courses/react.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding: 20%;
    margin-bottom: 30px;
}

.bg-image-html {
   background: url('/img/courses/html.jpg');
   background-size: cover;
   background-position: 50% 50%;
   padding: 20%;
   margin-bottom: 30px;
}

.bg-image-php {
    background: url('/img/courses/php.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding: 20%;
    margin-bottom: 30px;
}

.bg-image-node {
   background: url('/img/courses/node.jpg');
   background-size: cover;
   background-position: 50% 50%;
   padding: 20%;
   margin-bottom: 30px;
}

.course-logo {
}
.blog-post-title {
   text-transform: uppercase;
}
.tabs-dz {
   background-color: #2c7ae7;
   color: #fff;
   padding: 15px;
   border-radius: 15px;
}

code, pre {
   background: #ebebeb;
   padding: 10px;
   margin: 10px 0;
   display: block;
}

.link-in-table {
   display: block;
   width: 100%;
   height: 100%;
   text-decoration: none;
}

.bread-crumbs-list li {
   margin-right: 0;
}
.bread-crumbs-list > li + li:before {
   padding: 0 5px;
   color: #ccc;
   content: ">";
   margin: 0 10px;
}

.btn.btn-logout {
   height: auto;
   line-height: 34px;
   padding-left: 15px;
   padding-right: 15px;
   margin-top: -9px;
   font-size: 13px;
   color: #fff;
}



.news-item-img-main {
   display: block;
   height: 110px;
   width: 100%;
   position: relative;
   overflow: hidden;
   background-color: #fff;
}

.news-item-img-main  img{
   display: block;
   width: 50%;
   margin: 5px auto;
}

ul.page-pagination {
   list-style: none;
   text-align: center;
}

ul.page-pagination li {
   display: inline-block;
}

ul.page-pagination li.prev.disabled {
   display: none;
}

ul.page-pagination li.active a {
   background: none;
   border: 1px solid #2876e2;
   color: #000;
}

.text-center {
   text-align: center;
}
.text-right {
   text-align: right;
}

.main-mnu-list>li>ul {
   -webkit-box-shadow: 6px 13px 33px 1.4px rgba(45, 45, 45, .53);
   box-shadow: 6px 13px 33px 1.4px rgba(45, 45, 45, .53);
}

ul.pagination {
   margin-top: 30px;
   text-align: right;
}
ul.pagination  li {
   display: inline-block;
}

ul.pagination  li  a{
   position: relative;
   display: inline-block;
   text-align: center;
   font-size: 14px;
   color: #fff;
   fill: #fff;
   background: #2c7ae7;
   background: -webkit-gradient(linear,left top,right top,from(#2876e2),to(#3f8efc));
   background: -o-linear-gradient(left,#2876e2 0,#3f8efc 100%);
   background: linear-gradient(to right,#2876e2 0,#3f8efc 100%);
   text-decoration: none;
   text-align: center;
   padding: 10px;
   min-width: 38px;
   font-weight: 500;
   border-radius: 4px;
   outline: 0;
   border: none;
   cursor: pointer;
   overflow: hidden;
   -webkit-transition: all .25s;
   -o-transition: all .25s;
   transition: all .25s;
}
ul.pagination li.disabled {
   display: none;
}
ul.pagination  li.active a {
   background: coral;
}
.forum-username h3 {
   font-size: 15px;
}
.forum-buttons {
   text-align: right;
   margin-top: 20px;
}

.btn-success {
   background: orangered;
}

.table-bordered {
   border: 1px solid #dee2e6;
}
.forum-text-reply-p {
   margin-bottom: 0;
}
.forum-text-reply {
   padding: 10px;
   background: #c3d9f8;
   max-height: 100px;
   overflow: hidden;
   margin-bottom: 15px;
}

.btn-small-x {
   position: relative;
   display: inline-block;
   text-align: center;
   font-size: 12px;
   color: #fff;
   fill: #fff;
   text-align: center;
   padding: 4px 8px;
   border-radius: 4px;
   outline: 0;
   height: auto;
   line-height: normal;
}

.btn-update {
   background: mediumseagreen;
}

.new-forum-post {
   color: coral;
   font-weight: bold;
}

.new-forum-post-p {
   margin-bottom: 5px;
   color: red;
}

.thumb-wrap {
   margin-bottom: 40px;
}

.footer-social-links li a {
   padding: 0px 10px;
}

.fluid-img{
   width: 80%;
   display: block;
   margin: 0 auto 30px auto;
}

.privat-img {
   max-width: 250px;
   width: 50%;
}

.course-pay-title {
   font-weight: bold;
   font-size: 24px;
   color: #4b4b4b;
}

.section-bg {
   background-color:#f0f0f2;
}
.main-banner-slider, .main-banner-slider-item {
   /*height : 350px;*/
}
.main-banner {
   min-height: 350px;
}

.main-banner-title {
   font-size: 26px;
   font-weight: 700;
   margin-bottom: 15px;
   padding-top: 50px;
}

.main-banner-subtitle {
   font-size: 22px;
   color: #323232;
   font-weight: normal;
   margin: 5px 0;
   margin: 5px 0;
}
.main-banner-desc p {
   margin: 15px 0 0 0;
   color: #000;
   font-weight: 400;
   font-size: 16px;
}
.servises-item {
   border-radius: 0;
}


.bread-crumbs {
   background-color: #e2e2e2;
}
.td-dz-text {
   background: #cbffe2;
   margin: 10px;
   padding: 20px;
}
.td-dz-text-dop {
   background: #feaf4e;
   margin: 10px;
   padding: 20px;
}

.image-wrap {
  text-align: center;
background: rgb(242,242,242);
background: linear-gradient(156deg, rgba(242,242,242,1) 0%, rgba(221,221,221,1) 51%, rgba(242,242,242,1) 100%);

  padding: 30px 0 30px 0;
}
.image-wrap  img{
  margin: 0 auto;
}

ul.course-list {
  line-height: 150%;
  font-size: 16px;
  list-style-type: none;
  padding: 20px;
}

ul.course-list li {
  margin-bottom: 15px;
}

ul.course-list li a{
  text-decoration: none;
  color: #222;
}

ul.course-list li a:hover{
  text-decoration: underline;
}

ul.course-list li::before {
   content: "";
   position: relative;
   display: inline-block;
   min-width: 8px;
   width: 8px;
   height: 8px;
   margin-top: 8px;
   margin-right: 12px;
   background-color: #2c7ae7;
   border-radius: 50%;
   line-height: 1;
}
ol.list-numeric li {
  line-height: 200%;
}

.unit-task-block {
   padding: 10px;
   border-bottom: 1px solid #e7e7ec;
   min-height: 150px;
}

.unit-task-block-active {
   background: #f0f0f2;
}


.unit-task-block-header {
   font-weight: 800;
   margin: 15px 0;
}

.tasks-section {
   border: 1px solid #c0c0c0;
}

.tasks-section img {
   max-width: 80%;
   display: block;;
   margin: 20px auto;
}

.need-buy {
   text-align: center;
   text-transform: uppercase;
   font-size: 1.3rem;
   font-weight: bold;
   color: orangered;
}

.pay-image {
   width: 100%;
   max-width: 200px;
   display: block;
   margin: 0 auto;
}

.pay-block-content {
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: start;
   -ms-flex-pack: start;
   justify-content: start;
   -webkit-align-content: flex-start;
   -ms-flex-line-pack: start;
   align-content: flex-start;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.pay-block-content-center {
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-align-content: stretch;
   -ms-flex-line-pack: stretch;
   align-content: stretch;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.pay-block-inner {
   -webkit-order: 0;
   -ms-flex-order: 0;
   order: 0;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   -webkit-align-self: auto;
   -ms-flex-item-align: auto;
   align-self: auto;
}
.pay-block-inner-center {
   -webkit-order: 0;
   -ms-flex-order: 0;
   order: 0;
   -webkit-flex: 0 1 auto;
   -ms-flex: 0 1 auto;
   flex: 0 1 auto;
   -webkit-align-self: auto;
   -ms-flex-item-align: auto;
   align-self: auto;
}

.price-main {
   font-size: 1.2rem;
   font-weight: 700;
   color: #2c7ae7;
}

.old-cost {
   font-size: 1rem;
   color: orangered;
   font-weight: normal;
   text-decoration: line-through;
}

.cart-table {
   border: 1px solid #4d4d4d;
   margin-bottom: 40px;
}
.cart-table td, th {
   padding: 5px;
}

.cart-table img {
   width: 64px;
}

.img-responsive {

}

.oplata {
}

.course-on-main {
   margin-bottom: 40px;
}

.card-in-pay {
   margin-bottom: 40px;
}